
textarea {
    font-family: Courier, sans-serif;
    height: 600px;
    width: 500px;
    text-align : left;
    FONT-SIZE: 12px;
    FONT-FAMILY: Arial;
    color:black;
 }

 #traductor{
   position:absolute;
    top:110px;
    left:910px;
    right: 400px;
    /*width: 470px;*/
    width: 620px; 
 }
 #J_son{
    height: 357px;
    width: 600px;
 }
 #H_tml{
   top:15px;
    height: 357px;
    width: 600px; 
 }
 .prueba{
    background-color: chartreuse;
    color:aquamarine;
 }

 #posCarusel{
    position:absolute;
    left:900px;
    right: 400px;
   top:450px;
   height: 200px;
   width: 650px; 
 }

 #abrir{
   height: 10000px;
   width: 1000px; 
 }
 .tam_carusel{
   width: 550px; 
   height: 750px;
 }
 .adecuada{
    width: 600px;
 }


 .tabl{
   background-color: black;
   text-align : center;
   FONT-SIZE: 18px;
   FONT-FAMILY: Arial;
   color:white;
   font-family:Georgia, 'Times New Roman', Times, serif;
}

.tituloTb{
   text-align: center;
   color:deepskyblue;
}
.tituloErr{
   text-align: center;
   color: darkorange;
}

.subir_tabla{
   position:absolute;
   top:520px;
   width: 600px;
   height: auto;
}

.acomodaTexAr{
   width: 600px;
   height: 300px;
}