/* You can add global styles to this file, and also import other style files */

@import "~codemirror/lib/codemirror";
@import "~codemirror/theme/material";
@import "~codemirror/theme/eclipse";
@import "~codemirror/theme/dracula";
@import "~codemirror/theme/cobalt";

body{

    background-image: url(./assets/CIRCUITO1.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100% 100%;
    background-attachment: fixed;
    font-family: cursive;

}

